<footer class="container-fluid text-center">

  <div class="row r">
      <div class=" col-lg-3">
          <h3>Our Company</h3>
          <p>What we can do</p>
          <p>Client</p>
          <p>Management</p>
          <p>Work Team</p>
      </div>

      <div class="col-lg-3">
          <h3>Related Links</h3>
          <p>Strategies</p>
          <p>Recent issues</p>
          <p>FAQ</p>
          <p>Solutions</p>
      </div>
      <div class="col-lg-3">
          <h3>Main Services</h3>
          <p>Online Support</p>
          <p>Finanicial Service</p>
          <p>Bussiness Help</p>
          <p>Developement</p>
      </div>
      <div class="col-lg-3">
          <h3>Subscribe Us</h3>
          <form class="form-inline">
              <div class="input-group">
                  <input type="email" class="form-control eml" size="50" placeholder="Email Address" required>
                  <div class="input-group-btn text-center">
                      <button type="button" class="btn btn-danger btn-sm active">Subscribe</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
  <hr style="border-top: 1px solid black;">
  <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
          <ul class="list-unstyled list-inline ">
              <li>Contact Us :</li>
              <li class="text-info">1234567890</li>
              <li class="text-info">121324356890</li>
          </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
          <ul class="list-unstyled list-inline ">
              <li>Follow us :</li>
              <li> <a href="#"><span class="fa fa-instagram" style="font-size: 23px;"></span></a></li>
              <li> <a href="#"><span class="fa fa-google" style="font-size: 23px;"></span></a></li>
              <li> <a href="#"><span class="fa fa-facebook" style="font-size: 23px;"></span></a></li>
              <li> <a href="#"><span class="fa fa-twitter" style="font-size: 23px;"></span></a></li>
          </ul>
      </div>

  </div>

  <hr style="border-top: 1px solid black;">
  <div class="footer-copyright text-center py-3">© 2020 Copyright: BipinAngularSpringBoot.com</div>

</footer>

